#firstcontainer {
	background-image: url(../assets/random-background-collage-paint.jpg);
	width: 1296px!important;
	height: 275px!important;
	border-radius: 24px!important;
	padding-top: 28px;

}
img {
    display: block;
    margin: 0 auto;
}
p { 
	font: italic bold 28px sans-serif;
	text-align:center;
	padding-top: 10px;
	margin-left: 132px;
}
.btn-danger {
	float: right;
}
.btn-xl {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
}
ul {
    list-style: square;
}
#footerjumbotron{
	background-color: black;
	width: 1320px;
    margin-bottom: 10px;
    padding: 2% 3% 1px 3%;
}
#footercontainer{
    margin-left: 0px;
    margin-right: 0px;
    width: 1191px;
    padding-left: 14px;
    margin-top: 100px;
}
#social{
	font-size: 31px;
	padding-right:4%;
}
.navbar{
	 margin-top: 10px;
	margin-bottom: 10px;
}
.navbar-right{
    padding-right: 22px;
}
